@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="footer_overlay">
    <footer class="footer">
        <div class="footer_background" style="background-image:url(/media/1013/footer.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
                        <div class="footer_logo"><a href="#">@Umbraco.Field("CompanyName", recursive: true)</a></div>
                        <div class="copyright ml-auto mr-auto">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                        </div>
                        <div class="footer_social ml-lg-auto">
                            <ul>
                                <li><a href="https://www.pinterest.dk/ezhopee/flat-earth/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/schwarzenegger/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://da-dk.facebook.com/SamsungDanmark"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/disneychannel?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>