@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/contact.css">
    <link rel="stylesheet" type="text/css" href="~/css/contact_responsive.css">

</head>

<div class="main-container">

    <div class="contact">
        <div class="container">
            <h2>Success!</h2>
            <p>Thank you for your order!</p>
        </div>
    </div>
</div>

