@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UmbracoWebDev.Controllers.Paypal

@{
    Layout = "Master.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/checkout.css">
    <link rel="stylesheet" type="text/css" href="~/css/checkout_responsive.css">

</head>

<div class="main-container">

    <div class="contact">
        <div class="container">
            <h2>Thank you for your order!</h2>
        </div>
    </div>
</div>
